@{
    ViewData["Title"] = "Home Page";
}

    <body>
          <div class="text-center">
              <br>
              <br>
              <h1 class="display-4">The Helping Hand</h1>
              <h4>Giving to what matters most</h4>
              <background-img src="~/images/img_world.jpg">
          </div>
    </body>

